<!DOCTYPE html>
<html lang="en">
<title>About</title>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>priya-web developer</title>
    <link rel="stylesheet" href="static/About.css">
    <link rel="stylesheet" href="Font-Awesome/all.min.css" />
</head>

<body>
    <a href="home.html"><button class="but">Back</button></a>
    <section id="about-section">
        <div class="about-left">
            <img src="static/bank.jpg" width="450px" />
        </div>
        <div class="about-right">

            <h1>About Us</h1>
            <p>This product aims to automate the decision of loan making. It helps in making the loan approval process
                quick and efficient instead of complex and cumbersome, saving the loan approving officer time and
                resources.</p>
            <div class="address">
                <ul>

                    <br>
                    <li>
                        Phone No - 9645231045


                    </li>
                    <br>
                    <li>
                        Email ID - Bank@gmail.com


                    </li>
                    <br>
                    <li>
                        Place - Chennai
                    </li>
                    <br>
                    <li>
                        Working days - Mon-Fri

                    </li>
                </ul>
            </div>

            <h3>Our speciality</h3>
            <ul>
                <br>
                <li>1. Quick and simple loans that can be obtained online without a rigorous application process.</li>

                <br>
                <li>2. 24/7 Availiability</li>

                <br>
                <li>3. Accurate loan eligibility projection</li>

                <br>
                <li>4. Describing the process in detail for loan approval</li>

                <br>
                <li>5. Providing a simple method for determining loan eligibility</li>
            </ul>
        </div>
    </section>
    </li>
    </ul>
    </div>
</body>

</html>