<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .term {
        padding-top: 150px;
        padding-left: 450px;
        font-size: 20px;

    }
</style>

<body>
    <div class="term">
        <h2>Terms and conditions</h2>
        <ol>
            <li>We're merely predicting whether you'll be approved for a loan or not.</li>
            <li>You should have faith in the bank and provide all necessary information.</li>
            <li>The bank will confirm your information and let you know about the loan.</li>
            <li>Upload the correct copy of your property paperwork.</li>
            <li>Don't provide any incorrect information; if we find out, we won't grant you the loan.</li>
            <li>Enter your accurate income information.</li>
            <li>Enter your name exactly as it appears on your adhar card.</li>
            <li>Please provide a valid mobile phone number to reach you at.</li>
            <li>Type in your accurate email address.</li>
            <li>Pay back the loan balance and interest on schedule.</li>
            <li>If you don't make the loan payment on time, your interest rate will rise.</li>
        </ol>
    </div>

</body>

</html>