body {
    padding-top: 200px;
    padding-bottom: 300px;
    background: rgb(156, 205, 214);
}

.form-signup {
    margin: 0 auto;
    max-width: 800px;
    max-height: 800px;
    background: rgb(152, 206, 209);
    padding: 25px;
    border-radius: 10px;
    border: 3px solid rgb(30, 14, 208);

}

.form-signup h2 {
    text-align: center;
}

.reg {
    text-align: center;
    color: rgb(73, 116, 148);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}